body {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

img {
    border-radius: 50%;
    border-style: none;
}

.social img {
    width: 40px;
    height: 40px;
    border-style: none;
    object-position: center;
}

.menu {
    object-position: center;
    list-style: none;
    border: 1px solid #c0c0c0;
    margin: auto;
}

.menu li {
    position: center;
    float: left;
    border-right: 1px solid #c0c0c0;
    max-width: 800px;
    margin: auto;
    display: table;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
}

li {
    list-style: none;
}

div.bloco {
    border-style: double;
    color: #6e3a54;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
    margin-right: auto;
    position: center;
    margin-left: auto;
    padding: 1%;
    border-radius: 1px;
    margin-top: 1%;
}

#element img {
    width: 200px;
    height: 200px;
}

.divimagem {
    background-size: auto;
}


/* Container for skill bars */

.container {
    width: 30%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 1px;
    /* Add top padding */
    padding-bottom: 1px;
    /* Add bottom padding */
    color: white;
    /* White text color */
}

.javascript {
    width: 80%;
    background-color: #4CAF50;
}

.node {
    width: 70%;
    background-color: rgb(46, 77, 47);
}

.csharp {
    width: 60%;
    background-color: rgb(76, 155, 175);
}

.dotnet {
    width: 60%;
    background-color: rgb(40, 102, 117);
}

.mysql {
    width: 90%;
    background-color: rgb(86, 76, 175);
}

.html {
    width: 50%;
    background-color: rgb(167, 83, 146);
}

.css {
    width: 30%;
    background-color: rgb(129, 70, 103);
}

.mongo {
    width: 65%;
    background-color: #633532;
}